@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
 html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
/* defaults end */

html,
body {
    height: 100%;
}
body {
    width: 100%;
    margin: 0 auto;
    background: #eeeeee;
}
body,
a {
    font: 300 1em/1.2 'Roboto', sans-serif;
    color: #7d7d7d;
}
.wrapper {
    min-width: 300px;
    min-height: 100%;
    position: relative;
    background-color: #eeeeee;
    z-index: 2;
    margin: 0 2.18%;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}
.inner {
    max-width: 1480px;
    width: auto;
    margin: 0px auto;
}
.fl,
.alignleft {
    float: left;
}
.fr,
.alignright {
    float: right;
}
.tac {
    text-align: center;
}
.clearboth {
    width: 100%;
    height: 0px;
    line-height: 0px;
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 0px;
}
.oh {
    overflow: hidden;
}
header {
    padding: 34px 0 15px 0;
    height: 50px;
    position: relative;
    width: 100%;
}
#content {
    height: auto !important;
    width: 100%;
}
footer {
    height: auto !important;
    width: 100%;
}
header .calendar {
    float: right;
    padding: 0 0 0 53px;
    height: 48px;
    width: 216px;
    background: url(../images/calendar-icon.png) no-repeat 16px 12px #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    position: relative;
}
header .calendar input {
    width:80%;
    line-height: 30px;
    font-size: 1.125em;
    margin:12px 0px 0px 0px; 
    float: left;
    border:none;
    font: 300 1.143em/1.2 'Roboto',sans-serif;
    color:#7D7D7D;
    outline-width:0;
}
header .calendar .select {
    background: url(../images/calendar-select.png) no-repeat 0px 0px;
    width: 11px;
    height: 6px;
    cursor: pointer;
    float: right;
    margin: 22px 16px 0 0;
}
section.map-block {
    background: #ffffff;
    padding: 20px;
    height: 140px;
    margin-bottom: 1.3%;
}
.block-list,
.graph-block {
    width: 100%;
}
.graph-block {
    padding-bottom: 2%;
}
section.traffic,
section.redemption,
section.conversion {
    float: left;
    width: 24.0%;
    margin: 0 1.3% 1.3% 0;
    background: #ffffff;
    height: 186px;
    position: relative;
}
section.time {
    width: 24.0%;
    background: #ffffff;
    height: auto;
    float: left;
    position: relative;
}

h1 {
    font: 300 2.7em/1 'Roboto',sans-serif;
}
h2 {
    height: 74px;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #efefef;
    font: 300 2.375em/2.2 'Roboto', sans-serif;
    color: #414141;
}
h3 {
    height: 74px;
    margin: 0 0 0px 0;
    border-bottom: 1px solid #efefef;
    font: 300 2.375em/2.2 'Roboto', sans-serif;
    color: #414141;
    padding: 0 0 0 20px;
}
p {
   font: 300 1.143em/1.2 'Roboto',sans-serif; 
}

section.traffic h2 img,
section.redemption h2 img,
section.conversion h2 img,
section.time h2 img {
    position: absolute;
    top: 40px;
    right: 20px;
}
section.traffic h2 {
    background: url(../images/traffic-img.png) no-repeat 20px 21px;
    padding: 0 0 0 73px;
}
section.redemption h2 {
    background: url(../images/redemption-img.png) no-repeat 20px 21px;
    padding: 0 0 0 76px;
}
section.conversion h2 {
    background: url(../images/conversion-img.png) no-repeat 20px 21px;
    padding: 0 0 0 74px;
}
section.time h2 {
    background: url(../images/time-img.png) no-repeat 20px 21px;
    padding: 0 0 0 84px;
}
select {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    border: none;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none !important;
    cursor: pointer;
}
.selected {
    opacity: 0;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    height: 74px;
}
.estimates {
    text-align: center;
    margin-bottom: 54px;
}
p.result {
    font-size: 3.5em;
    color: #414141;
}
p.result span {
    font-size: 0.393em;
}
p.percent-plus,
p.percent-neg {
    font-size: 1.375em;
    color: #8a8a8a;
}
p.percent-plus span {
    color: #03a39f;
    background: url(../images/percent-plus.png) no-repeat 0 center;
    padding: 0 0 0 16px;
}
p.percent-neg span {
    color: #f71014;
    background: url(../images/percent-neg.png) no-repeat 0 center;
    padding: 0 0 0 16px;
}
section.tab-block {
    height: auto;
    width: 100%;
    margin-bottom: 1.3%;
}
h2.zones {
    background: url(../images/zones-img.png) no-repeat 19px 16px;
    padding: 0 0 0 107px;
    margin: 0;
}
.block_tabs_type_1 {
    padding-bottom: 0px;
}
.block_tabs_type_1 .tabs {
    height: 78px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}
.block_tabs_type_1 .tabs li {
    display: block;
}
.block_tabs_type_1 .tabs li:first-child {} .block_tabs_type_1 .tabs li.left-tab a {
    height: auto;
    line-height: 78px;
    padding: 0px 18px;
    display: block;
    position: relative;
    text-decoration: none;
    color: #868686;
    background-color: #ffffff;
    border-right: 1px solid #eaeaea;
    font-size: 1.375em;
    behavior: url(PIE.htc);
}
.block_tabs_type_1 .tabs li.left-tab a:hover {
    background-color: #ffffff;
    text-decoration: none;
    color: #1fa8e6;
    background: url(../images/bg-tab.png) repeat-x 0 0;
}
.block_tabs_type_1 .tabs li.left-tab a.current {
    background-color: #ffffff;
    text-decoration: none;
    color: #1fa8e6;
    background: url(../images/bg-tab.png) repeat-x 0 0;
}

.block_tabs_type_1 .tabs li.right-tab{
    border-left: 1px solid #eaeaea;
}

.left-tab {
    float: left;
}
.right-tab {
    float: right;
}
.table-bordered {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    border-radius: 0;
}
.table {
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    text-align: left;
    margin: -3px 0 0;
}
.table tbody td {
    color: #8a8a8a;
    font-size: 1.125em;
    width: 20%;
}
.table td.first {
    color: #414142;
    font-size: 1.375em;
    text-transform: none;
}
.table thead th {
    color: #414141;
    font-size: 1.125em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
}
th img {
    padding: 4px;
}
th.active {
    background: #efefef;
}
.table th,
.table td {
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    line-height: 20px;
    padding: 20px;
    text-align: left;
    vertical-align: top;
}
.table th.first,
.table td.first {
    border-left: none;
}
section.loyalty,
section.campaigns,
section.sales {
    background: none repeat scroll 0 0 #ffffff;
    float: left;
    height: 430px;
    margin: 0 1.4% 1.3% 0;
    padding-bottom: 0px;
    position: relative;
    width: 49.3%;
}
.loyalty img,
.sales img {
    padding: 10px 0;
}
section.sales {
    margin: 0 0 1.3% 0;
}
.campaigns table,
.campaigns .table {
    margin: -1px 0 0 0;
}
.campaigns .table th,
.campaigns .table td {
    border-left: none;
    border-top: 1px solid #eaeaea;
    line-height: 20px;
    padding: 2.05% 20px;
    text-align: left;
    vertical-align: top;
    color: #8a8a8a;
    font-size: 1.125em;
    text-align: right;
}
.campaigns .table th.first,
.campaigns .table td.first {
    border-left: none;
    text-align: left;
    text-transform: uppercase;
    width: 60%;
}
.campaigns .table-bordered {
    border: none !important;
    border-bottom: 0px solid #eaeaea;
    border-top: 0px solid #eaeaea;
}
section.campaigns h3 img {
    position: absolute;
    right: 20px;
    top: 40px;
}
.options {
    position: absolute;
    right: 7px;
    top: 33px;
}
.options h4.one {
    background: url(../images/sp-line.png) no-repeat right center;
}
.options select {
    height: 41px;
} 

.options select.left {
    left: 0;
    top: 0px;
    width: 50%;
}
.options select.right {
    right: 0;
    top: 0px;
    width: 50%;
}
.options h4 {
    color: #414141;
    font-size: 0.9em;
    font-weight: 300;
    padding: 0px 12px;
    text-transform: uppercase;
    float: left;
}
.options h4 img {
    margin-right: -2px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-top: 0px;
}
@media only screen {}
/* Define mobile styles */

@media only screen and (max-width: 40em) {
    body,
    a {
        font: 300 12px/1.2 'Roboto', sans-serif;
        color: #7d7d7d;
    }
    h2,
    h3 {
        font: 300 2.3em/3.0 'Roboto', sans-serif;
    }
    
    h3 {
        font: 300 1.6em/3 'Roboto',sans-serif;
        height: 50px;
    }
    section.redemption,
    section.time,
    section.traffic,
    section.conversion {
        width: 100%;
        margin: 0 0 1.3% 0;
        height: 200px;
    }
    section.loyalty,
    section.campaigns,
    section.sales {
        width: 100%;
        margin: 0 0 1.3% 0;
        height: auto;
    }
    .block_tabs_type_1 .tabs li.left-tab a {
        font-size: 1.0em;
        height: auto;
        line-height: 40px;
        padding: 0 12px;
    }
    .block_tabs_type_1 .tabs {
        height: 40px;
    }
    .tabs img {
        height: 40px;
    }
    
    .table thead th{
        padding: 5px;
    }

    .table th,
    .table td {
        line-height: 1em;
        padding: 5px;
        text-align: left;
        font-size: 1em;
    }
    .table td.first {
        color: #414142;
        font-size: 1.1em;
        text-transform: none;
    }
    .options{
        top:25px;
    }
    .options h4 {
    font-size: 0.8em;
    }
    .options select.selected{
        height: 25px;
    }
    
    .campaigns select.selected{
        height: 50px;
    }
    
    .options h4{
        padding: 0 7px;
    }
    
    section.campaigns h3 img{
        top:25px;
    }
    
    .block_tabs_type_1 {
    padding-bottom: 10px;
}
    .setting a img {
       height: 40px;
    }
    .reveal-modal {
        width: 59% !important;
        margin-left: 0px !important;
        left: 8% !important;
    }
    .selectMulti {
        width: 100% !important;
    }
    
    section.map-block {
        height: 174px;
        padding: 17px;
    }
    section.map-block .ingram h1 {
        margin-top:0px;
        width: 100%;
    }
    section.map-block .ingram img {
        width: 100%;
        margin-top:0px;
    }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) {}
/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    body,
    a {
        font: 300 14px/1.2 'Roboto', sans-serif;
        color: #7d7d7d;
    }
    .table thead th {
        color: #414141;
        font-size: 1.1em;
    }
    section.traffic,
    section.conversion {
        margin: 0 1.3% 1.3% 0;
        width: 49.35%;
    }
    section.redemption,
    section.time {
        width: 49.35%;
        margin: 0 0 1.3% 0;
    }
    section.loyalty,
    section.campaigns,
    section.sales {
        width: 100%;
        margin: 0 0 1.3% 0;
    }
    p.result {
        font-size: 2.5em;
    }
    p.percent-plus,
    p.percent-neg {
        color: #8a8a8a;
        font-size: 1.2em;
    }
    section.traffic,
    section.redemption,
    section.conversion,
    section.time {
        height: 230px;
    }
    section.loyalty,
    section.campaigns,
    section.sales {
        height: auto;
        text-align: center;
    }
    h3 {
        text-align: left;
    }
    .options h4 img {
        padding-bottom: 2px;
    }
    section.map-block {
        height: 170px;
        padding: 10px;
    }
    section.map-block .ingram h1 {
        margin-top:0px;
        width: 100%;
    }
    section.map-block .ingram img {
        width: 100%;
        margin-top:0px;
    }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 64.063em) {}
/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    body,
    a {
        font: 300 14px/1.2 'Roboto', sans-serif;
        color: #7d7d7d;
    }
    h2,
    h3 {
        font: 300 1.7em/3.4 'Roboto', sans-serif;
    }
    p.result {
        font-size: 3em;
    }
    section.traffic,
    section.redemption,
    section.conversion,
    section.time {
        height: 186px;
    }
    section.loyalty,
    section.campaigns,
    section.sales {
        height: 475px;
    }
    section.corectClass {
        height:500px;
        width: 32.4%;
    }
}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

@media only screen and (min-width: 90.063em) {}
/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    .options h4 img {
        padding-bottom: 5px;
    }
    
    section.map-block {
        height: 170px;
        padding: 20px;
    }
    
    section.map-block .ingram h1 {
        margin-top:41px;
        width: 45%;
    }
    
    section.map-block .ingram img {
        width: 55%;
        margin-top:0px;
    }
    section.traffic,
    section.redemption,
    section.conversion,
    section.time {
        height: 207px;
    }
    .mainGrafCont {
        width: 100% !important;
        height: 400px;
    }
    
    section.loyalty,
    section.campaigns,
    section.sales {
        height: 490px;
    }
    
    section.corectClass {
        height:477px;
        width: 32.4%;
    }
}
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) {
    .options h4 img {
        padding-bottom: 5px;
    }
    
    section.map-block {
        height: 170px;
        padding: 20px;
    }
    
    section.map-block .ingram h1 {
        margin-top:41px;
        width: 45%;
    }
    
    section.map-block .ingram img {
        width: 53%;
        margin-top:0px;
    }
    section.traffic,
    section.redemption,
    section.conversion,
    section.time {
        height: 210px;
    }
    .mainGrafCont {
        width: 100% !important;
        height: 400px;
    }
    
    section.loyalty,
    section.campaigns,
    section.sales {
        height: 490px;
    }
    
    section.corectClass {
        height:475px;
        width: 32.4%;
    }
} /* min-width 1921px, xxlarge screens */

.mainGrafCont {
    width: 99.9%;
    height: 400px;
}

.browsGraph {
    width: 99.9%;
    height: 400px;
}

.ageChart {
    width: 99.9%;
    height: 400px;
}

.positionChart {
    width: 99.9%;
    height: 400px;
}

.setting {
    position: absolute;
    right:0px;
    z-index: 100;
    height:78px;
}

.selectMulti {
    width: 60%;
}

.dateSelect {
    background: transparent;
    width:80%;
    /*line-height: 48px;*/
    /*height:48px;*/
    padding: 13px 0px 14px 0px;
    font-size: 1.125em;
    margin:0px 0px 0px 0px; 
    float: left;
    border:none;
    font: 300 1.143em/1.2 'Roboto',sans-serif;
    color:#7D7D7D;
    outline-width:0;
}

.leftBorRem {
    border-left-width:0px !important;
}

.tableColor, .zoneHead {
    background-color: #ffffff;
}

.osChart {
    width: 100% !important;
}

.osChartw {
    width: 99.9%;
    height: 400px;
}

.top10Tables {
    margin:0px;
    height:401px;
}

.top10Tables td, thead, th {
    padding: 7px;
}

.top10Tables thead th {
    padding: 7px;
}

.headH3 {
    border: none;
}

.ingram h1{
    float:left;
    color:#05AAEC;
    font-weight: bold;
    margin-top: 33px;
    width: 42%;
}
.ingram img{
    float:right;
    width: 55%;
    margin-top: 20px;
}

.reveal-modal h1 {
    line-height: 1.5;
}
.headerSortDown {
    background-image: url('/images/table-select-act.png');
    background-position: center right 10px;
    background-repeat: no-repeat;
}

.headerSortUp {
    background-image: url('/images/table-select.png');
    background-position: center right 10px;
    background-repeat: no-repeat;
}
th.header {
    cursor: pointer;
}
